// Partials Files..
@import "partials/Mixin";
@import "partials/Variables";

// Main Structures...
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f3f3f3;
    min-height: 100vh;
    width: 100%;
}

.container {
    h2 {
        text-align: center;
        margin-top: 20px;
    }
}

.filter_btns {
    @include display-flex-center;
    margin-top: 50px;

    .btn {
        background-color: $color_orange;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        margin: 0 10px 0 10px;
        transition: all 0.2s ease-in;

        &.active {
            background-color: $color_red;
            color: $color_light;
        }
    }
}


.filter_items {
    @include display-flex-center;

    .items {
        width: 150px;
        height: 100px;
        background-color: $color_gray;
        // display: none;
        align-items: center;
        justify-content: center;
        margin: 20px 10px 10px 10px;
        color: $color_light;
        animation: fade 0.9s forwards;
        text-align: center;

        span {
            line-height: 100px;
        }
        
        // &.active {
        //     display: flex;
        //     animation: fade 0.9s forwards;
        // }
        @keyframes fade {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}