@mixin display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin display-flex-space-arounds {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}